mixin storeForm(store = {})
  form(action=`/add/` method="POST" class="card")
    label(for="name") name
    input(type="text" name="name" value=store.name)
    label(for="description") description
    textarea(name="description")= store.decription
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    - const tags = store.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choices)))
          label(for=choice) #{choice}
    input(type="submit" value="save" class="button")